@import "../../SharedStyles/variables";
@import "../../SharedStyles/functions";

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $clr-002;
  color: $clr-white;
  .container {
    align-items: center;
    position: relative;
    padding-top: 30px;
    .toggleFooter {
      position: absolute;
      top: 0;
      left: 50%;
      width: emsToPx(4.5);
      height: emsToPx(4.5);
      border-radius: 50%;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: emsToPx(1.35);
      transform: translate(-50%, -50%);
      cursor: pointer;
      background-color: $clr-002;
      color: $clr-white;
      .icon {
        margin-bottom: 50%;
      }
    }
    .footerRow {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .footerCol {
        width: calc(50% - 20px);
        h3 {
          font-size: emsToPx(1.75);
        }
        p {
          margin: 0;
          font-size: emsToPx(1);
        }
        ul {
          display: flex;
          align-items: center;
          padding: 0;
          li {
            display: flex;
            margin: 5px;
          }
        }
      }
      &:last-child {
        border-top: 1px solid $clr-white;
        P {
          margin: 10px 0 5px;
        }
      }
    }
  }
  &.grow {
    min-height: 200px;
  }
}

@keyframes grow {
  0% {
    width: emsToPx(6);
    height: emsToPx(6);
    top: 0;
  }
  100% {
    width: emsToPx(35);
    height: emsToPx(35);
    top: 50%;
  }
}
