$font-nunito-sans: 'Nunito Sans', sans-serif;

$font-family: $font-nunito-sans;

$max-width: 1440px;
$web-side-space: 80px;

$clr-dark-blue: hsl(209, 23%, 22%);
$clr-very-dark-blue: hsl(207, 26%, 17%);
$clr-very-dark-blue-2: hsl(200, 15%, 8%);
$clr-dark-gray: hsl(0, 0%, 52%);
$clr-very-light-gray: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);