$font-pattay: 'Pattaya', sans-serif;
$font-work-sans: 'Work Sans', sans-serif;
$font-mirza: 'Mirza', cursive;
$font-family: $font-mirza;

$base-font-size: 14.667;

$max-width: 1440px;
$web-side-space: 80px;

$clr-dark-blue: hsl(209, 23%, 22%);
$clr-very-dark-blue: hsl(207, 26%, 17%);
$clr-very-dark-blue-2: hsl(200, 15%, 8%);
$clr-dark-gray: hsl(0, 0%, 52%);
$clr-very-light-gray: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);

$clr-001: #f946f2;
$clr-002: #162522;